hr {
    border: 0;
    float: left;
    height: 1px;
    margin-top: 7px;
    position: relative;
    width: 100%;
    background-color: transparent !important;
    background-color: rgba(197, 197, 197, 0.4);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 20%, 0)), color-stop(50%, hsla(0, 0%, 20%, 0.5)), to(hsla(0, 0%, 20%, 0)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
    background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#00333333', GradientType=1);
}
hr::before {
    border: 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: transparent !important;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 100%, 0)), color-stop(50%, hsl(0, 0%, 100%)), to(hsla(0, 0%, 100%, 0)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
    background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}
hr::after {
    border: 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 2px;
    right: 5%;
    left: 5%;
    background-color: transparent !important;
    background-color: rgba(210, 210, 210, 0.24);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 20%, 0)), color-stop(50%, hsla(0, 0%, 20%, 0.3)), to(hsla(0, 0%, 20%, 0)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
    background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#00333333', GradientType=1);
}

.slide {
    background: none;
    border: 2px solid #457c47;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    transition: 0.25s;
    width: 10em;

}

.slide:hover,
.slide:focus {
    box-shadow: inset 10em 0 0 0 #457c47;
}