<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Windows Manager</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="css/tailwind.css" rel="stylesheet"/>
    <link href="css/fonts.css" rel="stylesheet"/>
    <link href="css/create_modal.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>

</head>
<body class="bg-gradient-to-r from-zinc-950 to-zinc-900 min-h-screen text-gray-300 flex">
{{ template "components/create_modal" . }}
{{ template "components/sidebar" . }}
<div class="flex flex-col w-full">
    {{ template "components/navbar" . }}
    {{embed}}
</div>
<script src="js/create_modal.js"></script>
</body>
</html>