<div id="create_modal">
    <div id="create_modal_content" class="w-1/4 bg-neutral-900 shadow px-10 rounded-[16px] flex flex-col items-center py-5">
        <div class="flex flex-col">
            <h2 class="text-gray-300 text-xl lato-bold">Create new virtual windows</h2>
            <hr />
        </div>
        <form action="/create" method="post" class="flex flex-col gap-y-8 mt-8 w-full">
            <div class="flex flex-col w-4/5 mx-auto">
                <label for="name" class="lato-regular">Name</label>
                <input id="name" name="name" class="w-full rounded-full border border-neutral-200/5 py-3 px-4 bg-neutral-700 focus:outline-none" />
            </div>
            <div class="flex flex-col w-4/5 mx-auto">
                <label for="os" class="lato-regular">OS</label>
                <input id="os" name="os" class="w-full rounded-full border border-neutral-200/5 py-3 px-4 bg-neutral-700 focus:outline-none" />
            </div>
            <button type="submit" class="mt-6 slide mx-auto rounded-full overflow-hidden">Create</button>
        </form>

    </div>
</div>